<!-- Navbar to display tabs at the top of the page -->
<header class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <span class="d-inline-block align-text-top" width="70" height="70"></span>
    <a class="navbar-brand ps-2 text-center text-lg-start" routerLink="/">
      <p class="h4" test-id="menubar">Stevens Pass <br>SmartTech</p>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav nav-underline nav-fill w-100">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/skis" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Skis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLinkActive="active" aria-current="page" routerLink="/snowboards" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Snowboards (Coming Soon!)</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- Main content of the page -->
<section style="min-height: 100vh;" class="container py-4">
  <router-outlet></router-outlet>
</section>
<!-- Footer -->
<footer class="bg-body-secondary">
  <br>
  <div class="container  text-center">© 2026 Stevens Pass SmartTech</div>
  <br>
  <div class="container  text-center" style="min-height: 5vh;">This site is not affiliated with Stevens Pass or Vail Resorts</div>
  <br>
  <div class="container text-center pb-3">
    <a routerLink="/terms" class="text-muted me-3">Terms of Service</a>
    <a routerLink="/privacy" class="text-muted">Privacy Policy</a>
  </div>
</footer>